
body{
    background-color: brown;
}
.p90 {
    background-color: aquamarine;
    font-size: 20%;
    font-family: cursive;
}

.importante{
    background-color: transparent;
    font-size: medium;
}

.pruebita{
    color: white;
    background-color: yellowgreen;

}


body, html {
    height: 100%;
  }
  
.parallax {
  /* The image used */
  background-image: url('Imagenes/batiz.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  /* The image used */
  background-image: url('Imagenes/camino.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

 .parallax3 {
   /* The image used */
   background-image: url('Imagenes/gallinero.jpg');
 
   /* Full height */
   height: 100%; 
 
   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }

 /* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
 @media only screen and (max-device-width: 1366px) {
   .parallax .parrax2 .parrax3 {
     background-attachment: scroll;
   }
 }

 .dentro_imagen1{
    color: rgb(198, 4, 85);
    text-align: center;
    flex: auto;
    background-color: transparent;
    
 }
 
 .conocenos{
    background-color: slategray;
    text-align: left;
    flex-direction: row;
    border-radius: 2%;

 }


 
a:link{
  text-decoration-line: none;
  color: darkgray;
}